:root {
  --icon-arrow-r: url(../img/icon-arrow-r.svg);
}

.icon-arrow-r {
  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--icon-arrow-r);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 10px;
  }
}
